*{
    margin: 20px;
}
.r-head{
    text-align: center;
}
.l-head{
    text-align: center;
}
.list-group{
    border-radius: 20px;
}
h1{
    text-align: center;
}
.container{
    border: black 2px solid;
    padding: 5px;
}
.custom_li{
    margin: 0px;
    left: 40px;
    width: 1275px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
th, td {
    text-align: center;
    border: turquoise 2px solid;
    width: 200px;
    font-size:20px;
    font-weight: bold;
}
thead {
    color: wheat;
	background-color: darkolivegreen;
}
.display-4{
    text-align: center;
}
.div-form{
    width: 80%;
    text-align: left;
    border: blue 2px solid;
    padding: 25px;
    color: wheat;
    
}
.form-check{
    padding: 0px;
    margin-left: 30px;
}
.check{
    margin-left: 20px;
    margin: 0px;
}
.form-check-input{
    padding: 0px;
    display: inline;
}
.form-check-label{
    left: 10px;
    padding: 0px;
    display: inline;
}
label{
    font-size: 20px;
    color:dimgrey;
    font-style: italic;
    font-weight: bold;
}
.box{
    height: 25px;
    width: 25px;
}
.btn{
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}
.btn :hover{
    
    color: ghostwhite;
}
.btn-add{
    width: auto;
    height: auto;
    float: left;
    background-color: blueviolet;
    margin: 10px;
    color: cornsilk;
}
.card-img-top{
    border: chartreuse solid 2px;
    margin: 0%;
}
.card-title{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: coral;
}
.card-text{
    text-align: left;
    margin: 10px;
}


span{
    margin: 0px;
}
.num{
    text-decoration: none;
}
.card-body{
    border: tomato 2px solid;
    margin: 10px;
}

